@model IEnumerable<DataManager.ViewModels.ConferenceFeedbackViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Conference Feedback</h2>

<table class="table">
    <tr>
        <th>
            #
        </th>
        <th>
            Question
        </th>
        <td>
            Average
        </td>
        <td align="center">*</td>
        <td align="center">**</td>
        <td align="center">***</td>
        <td align="center">****</td>
        <td align="center">*****</td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Q)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuestionText)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Score)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.OneStar)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.TwoStar)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.ThreeStar)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.FourStar)
        </td>
        <td align="center">
            @Html.DisplayFor(modelItem => item.FiveStar)
        </td>
    </tr>
}

</table>
